.root {
  position: absolute;
}

.root > div {
  position: absolute;
  cursor: pointer;
}

.root[debug] > div {
  background-color: rgba(255, 0, 0, 0.5);
}

img {
  width: 100%;
  height: auto;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.how-was-your-week {
  left: 4%;
  top: 46%;
  width: 35%;
  height: 10%
}

.how-does-that-make-you-feel {
  left: 65%;
  top: 46%;
  width: 35%;
  height: 10%
}

.what-would-you-say {
  left: 35%;
  top: 55%;
  width: 35%;
  height: 10%
}

.lets-explore {
  left: 4%;
  top: 65%;
  width: 35%;
  height: 8%
}

.go-on {
  left: 65%;
  top: 65%;
  width: 35%;
  height: 8%
}

.im-proud {
  left: 35%;
  top: 73%;
  width: 35%;
  height: 10%
}

.decide {
  left: 4%;
  top: 82%;
  width: 35%;
  height: 10%
}
