.how-was-your-week {
  left: 4%;
  top: 46%;
  width: 35%;
  height: 10%;
}

.how-does-that-make-you-feel {
  left: 65%;
  top: 46%;
  width: 35%;
  height: 10%;
}

.what-would-you-say {
  left: 35%;
  top: 55%;
  width: 35%;
  height: 10%;
}

.lets-explore {
  left: 4%;
  top: 65%;
  width: 35%;
  height: 8%;
}

.go-on {
  left: 65%;
  top: 65%;
  width: 35%;
  height: 8%;
}

.im-proud {
  left: 35%;
  top: 73%;
  width: 35%;
  height: 10%;
}

.decide {
  left: 4%;
  top: 82%;
  width: 35%;
  height: 10%;
}

.valid {
  left: 65%;
  top: 82%;
  width: 35%;
  height: 10%;
}

.disclaimer {
  left: 4%;
  top: 93%;
  width: 35%;
  height: 3%;
}

.credits {
  left: 65%;
  top: 93%;
  width: 35%;
  height: 3%;
}

.noise {
  left: 80%;
  top: 8%;
  width: 35%;
  height: 10%;
}
